.game{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.show{
	opacity: 1;
}

.doom{
	position: absolute;
	top: 14.9vh;
	left:16.1vw;
	height: 9.9vh;
	width: 10.1vw; 
}

.doomg{
	position: absolute;
	top: 14.9vh;
	left:16.1vw;
	height: 9.9vh;
	width: 10.1vw; 
	opacity: 0;
}

.doomg:hover{
	opacity: 1;
}

.conkers{
	position: absolute;
	top: 39.6vh;
	left: 9.8vw;
	height: 16.06vh;
	width: 16.4vw;
}

.conkersg{
	position: absolute;
	top: 39.6vh;
	left: 9.8vw;
	height: 16.06vh;
	width: 16.4vw;
	opacity: 0;

}

.conkersg:hover{
	opacity: 1;
}

.pacman{
	position: absolute;
	top: 68vh;
	left: 9.3vw; 
	height: 9.9vh;
	width: 10.1vw;
}

.pacmang{
	position: absolute;
	top: 68vh;
	left: 9.3vw; 
	height: 9.9vh;
	width: 10.1vw;
	opacity: 0;
}

.pacmang:hover{
	opacity: 1;
}

.pokemon{
	position: absolute;
	top: 9.18vh;
	left: 37vw;
	height: 10.3vh;
	width: 10.23vw;
}

.pokemong{
	position: absolute;
	top: 9.18vh;
	left: 37vw;
	height: 10.3vh;
	width: 10.23vw;
	opacity: 0;
}

.pokemong:hover{
	opacity: 1;
}

.starwars{
	position: absolute;
	top: 28.7vh;
	left: 34.1vw;
	height: 14.7vh;
	width: 8.25vw;
}

.starwarsg{
	position: absolute;
	top: 28.7vh;
	left: 34.1vw;
	height: 14.7vh;
	width: 8.25vw; 
	opacity: 0;
}

.starwarsg:hover{
	opacity: 1;
}

.kirby{
	position: absolute;
	top: 55.3vh;
	left: 33.05vw;
	height: 10.09vh;
	width: 10.3vw;
}

.kirbyg{
	position: absolute;
	top: 55.3vh;
	left: 33.05vw;
	height: 10.09vh;
	width: 10.3vw; 
	opacity: 0;
}

.kirbyg:hover{
	opacity: 1;
}

.papermario{
	position: absolute;
	top: 74.35vh;
	left: 26vw;
	height: 13.9vh;
	width: 7.9vw;
}

.papermariog{
	position: absolute;
	top: 74.35vh;
	left: 26vw;
	height: 13.9vh;
	width: 7.9vw;
	opacity: 0;
}

.papermariog:hover{
	opacity: 1;
}

.supermario{
	position: absolute;
	top: 17.04vh;
	left: 54.74vw;
	height: 17.01vh;
	width: 17.2vw; 
}

.supermariog{
	position: absolute;
	top: 17.04vh;
	left: 54.74vw;
	height: 17.01vh;
	width: 17.2vw; 
	opacity: 0;
}

.supermariog:hover{
	opacity: 1;
}

.zelda{
	position: absolute;
	top: 47.5vh;
	left: 49.78vw;
	height: 9.9vh;
	width: 10.05vw;
}

.zeldag{
	position: absolute;
	top: 47.5vh;
	left: 49.78vw;
	height: 9.9vh;
	width: 10.05vw; 
	opacity: 0;
}

.zeldag:hover{
	opacity: 1;
}

.thawk{
	position: absolute;
	top: 68.82vh;
	left: 49.45vw;
	height: 18.34vh;
	width: 10.25vw;
}

.thawkg{
	position: absolute;
	top: 68.82vh;
	left: 49.45vw;
	height: 18.34vh;
	width: 10.25vw; 
	opacity: 0;
}

.thawkg:hover{
	opacity: 1;
}

.dk{
	position: absolute;
	top: 7.65vh;
	left: 81.16vw;
	height: 14.67vh;
	width: 8.5vw;
}

.dkg{
	position: absolute;
	top: 7.65vh;
	left: 81.16vw;
	height: 14.67vh;
	width: 8.5vw; 
	opacity: 0;
}

.dkg:hover{
	opacity: 1;
}

.doubleo{
	position: absolute;
	top: 34.66vh;
	left: 79.65vw;
	height: 10vh;
	width: 10.04vw;
}

.doubleog{
	position: absolute;
	top: 34.66vh;
	left: 79.65vw;
	height: 10vh;
	width: 10.04vw; 
	opacity: 0;
}

.doubleog:hover{
	opacity: 1;
}

.perfectdark{
	position: absolute;
	top: 54.5vh;
	left: 68.07vw;
	height: 17.4vh;
	width: 17.33vw;
}

.perfectdarkg{
	position: absolute;
	top: 54.5vh;
	left: 68.07vw;
	height: 17.4vh;
	width: 17.33vw; 
	opacity: 0;
}

.perfectdarkg:hover{
	opacity: 1;
}
















