.topr {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 210px solid rgb(133, 174, 255);
  transform: rotate(90deg);
}

.topr2{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 29px;
  left: 39px;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 172px solid white;
  transform: rotate(90deg);
}

.bottomr{
  position: absolute;
  top: 225px;
  left: 15px;
  width: 0;
  height: 0;
  border-bottom: 211px solid black;
  border-right: 241px solid transparent;
}

.bottomr2 {
  position: absolute;
  top: 254px;
  left: 27px;
  width: 0;
  height: 0;
  border-bottom: 170px solid white;
  border-right: 200px solid transparent;
}

.topa{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 275px;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 102px solid transparent;
  border-bottom: 190px solid rgb(133, 174, 255);
}

.topa2{
  width: 150px;
  height: 150px;
  position: absolute;
    top: 35px;
    left: 297px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 165px solid white;
}

.bottoma{
  width: 185px;
  height: 191px;
  position: absolute;
  top: 225px;
  left: 275px;
  border: 10px solid black;
}

.topn{
     position: absolute;
    top: 25px;
    left: 515px;
    width: 0;
    height: 0;
    border-bottom: 410px solid rgb(133, 174, 255);;
    border-right: 245px solid transparent;
    transform: rotate(180deg);
}

.topn2{
     position: absolute;
    top: 37px;
    left: 536px;
    width: 0;
    height: 0;
    border-bottom: 370px solid white;
    border-right: 215px solid transparent;
    transform: rotate(180deg);
}

.bottomn{
 position: absolute;
    top: 25px;
    left: 505px;
    width: 0;
    height: 0;
    border-bottom: 410px solid black;
    border-right: 245px solid transparent;
}

.bottomn2{
 position: absolute;
    top: 54px;
    left: 514px;
    width: 0;
    height: 0;
    border-bottom: 370px solid white;
    border-right: 215px solid transparent;
}

.topg{
    position: absolute;
  top: 25px;
  left: 785px;

  width: 255px;
  height: 10px;
  background-color: black;
}
.topg2{
    position: absolute;
  top: 25px;
  left: 785px;

  width: 10px;
  height: 200px;
  background-color: black;
}

.bottomg{
    width: 255px;
    height: 180px;
    position: absolute;
    top: 235px;
    left: 785px;
    border: 10px solid rgb(133, 174, 255);
}
p{
  position: absolute;
  top: 500px;
  left: 20px;
  width: 500px;
  text-align: justify;
  font-family: Courier New;
  
}